<div class="contestants">
    {% for contestant in contestants %}
        {% include 'ATMCompetitionBundle:Frontend:item/contestant.html.twig' with { 'contestant':contestant, 'competition_id':competition_id, 'position':loop.index } %}
    {% endfor %}
</div>

{% if pagination is not null %}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endif %}