{% extends 'ATMCompetitionBundle:Admin:base.html.twig' %}

{% block atm_competition_menu %}{% endblock atm_competition_menu %}

{% block atm_competition_content %}
    <form action="{{ path('atm_competition_contestant_join',{ 'competitionId':competitionId }) }}" method="post" enctype="multipart/form-data" id="frmUploadImages" class="uploadImages">
        <h1>Join Competition: {{ competition.name | title }}</h1>
        <div class="half mainImageContainer">
            <h1>Main Image</h1>
            <img src="{{ asset('bundles/atmcompetition/images/image-placeholder.png') }}" id="imgMainPreview">
            <input type="file" name="main_image" id="flMainImage">
            {% if media_namespace is not null %}
                {% set media = ATMCompGetLastUserMedia(3,app.user.id) %}
                <fieldset style="margin-top:20px;">
                    <legend>
                        This images belongs to:
                        {% if media|length > 0 %}
                            <div class="selectC">
                                <select name="user_media" required>
                                    <option value=""></option>
                                    {% for item in media %}
                                        <option value="{{ item.id }}">{{ item.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                    </legend>
                </fieldset>
            {% endif %}
        </div>
        <div class="half">
            <h1>Images <a class="but blue btnAddImage" title="Add Image"  style="float:right"><i class="fa fa-plus-circle"></i></a></h1>
            <div class="imagesContainer">
                <div class="clear"></div>
            </div>
        </div>
        <div class="images_uploader" style="float: left;width: 100%;">
            <a class="but blue btnAddImage" title="Add Image" style="float:right"><i class="fa fa-plus-circle"></i></a>
            <input type="submit" class="but blue" name="Upload">
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </form>
    <div class="upload_image" style="display: none">
        <a onclick="$(this).parent().remove()"><i class="fa fa-times-rectangle"></i></a>
        <img src="{{ asset('bundles/atmcompetition/images/image-placeholder.png') }}" class="previewImage">
        <input type="file" name="images[]" class="flImage">
    </div>
{% endblock atm_competition_content %}

{% block atm_competition_javascripts %}
    <script>
        $('#flMainImage').on('change', function() {
            var currentInput = $(this);
            var file = currentInput[0].files[0];

            var reader = new FileReader();
            reader.onload = function(e){
                $('#imgMainPreview').attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
        });

        $('.btnAddImage').click(function(){
            var clone = $('.upload_image').clone();
            clone.removeClass('upload_image').addClass('new_image').show();
            $('.imagesContainer').append(clone);
        });

        $('.imagesContainer').on('change','.flImage',function(){
            var currentInput = $(this);
            var preview = currentInput.siblings('.previewImage');
            var file = currentInput[0].files[0];

            var reader = new FileReader();
            reader.onload = function(e){
                preview.attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
        });
    </script>
{% endblock atm_competition_javascripts %}