<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block atm_competition_title %}ATM Competition Bundle{% endblock atm_competition_title %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Distribution" content="Global" />
    <meta name="Rating" content="Mature" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('bundles/atmcompetition/fonts/lato.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/atmcompetition/fonts/quicksand.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/atmcompetition/fonts/leaguespartan.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/atmcompetition/css/font-awesome/css/font-awesome.min.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/atmcompetition/plugins/bootstrap/modal/modal.css') }}" type="text/css"/>
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <link href="{{ asset('bundles/atmcompetition/css/css.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/atmcompetition/js/jquery-3.4.1.min.js') }}"></script>
    {% block atm_competition_stylesheets %}{% endblock atm_competition_stylesheets %}
    {% block atm_competition_headingJS %}{% endblock atm_competition_headingJS %}
</head>
<body class="atm_competition">
    <div class="inner body">
        {% block atm_competition_menu %}
        <div class="menu">
            <ul>
                <li><a href="{{ path('atm_competition_create') }}">Create Competition</a></li>
                <li><a href="{{ path('atm_competition_list') }}">Competition List</a></li>
                <li><a href="{{ path('atm_competition_manage_votes') }}">Manage Votes</a></li>
                <li><a href="{{ path('atm_competition_anonymous_users_list') }}">Anonymous Users</a></li>
            </ul>
            <div class="clear"></div>
        </div>
        {% endblock atm_competition_menu %}
        {% block atm_competition_flash_messages %}{% endblock atm_competition_flash_messages %}
        {% block atm_competition_content %}{% endblock atm_competition_content %}
    </div>
    {% block atm_competition_popups %}
        <div class="modal fade" id="popVote" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 style="font-weight: bold;">Fill you email</h1>
                        <a class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </a>
                    </div>
                    <div class="modal-body">
                        <p style="margin-bottom: 20px;">In order to vote, please fill you email and you will get an email with a link for voting to your favourite model.</p>
                        <input type="text" id="txEmail" placeholder="Fill your email" style="width: 100%;padding: 5px;border-radius: 5px;border: 1px solid #ccc;">
                        <p id="error_msg" style="color: rgb(255, 0, 0);width: 100%;text-align: center;display:none">This is not a valid email address</p>
                        <a class="but red" id="btnVote" style="border-radius: 5px;border: 1px solid #ccc;display: inline-block;float: none;margin: 10px auto 0;">Send</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock atm_competition_popups %}
    {% block atm_competition_javascripts %}
        {% if not app.user %}
            <script src="{{ asset('bundles/atmcompetition/plugins/bootstrap/modal/modal.js') }}"></script>
            <script src="{{ asset('bundles/atmcompetition/plugins/bootstrap/modal/bootstrap.bundle.js') }}"></script>
            <script>
                var contestantId;
                $('.btnPopVote').click(function(){
                    var btn = $(this);
                    contestantId = btn.attr('data-contestant-id');
                    $('#popVote').modal('show');
                });

                $('#btnVote').click(function (e) {
                    e.preventDefault();
                    var email = $('#txEmail').val();
                    if(email != ''){
                        $.ajax({
                            url: Routing.generate('atm_competition_check_email',{ 'email':email }),
                            type: 'post',
                            success: function(data){
                                if(data == 'ko'){
                                    $('#error_msg').show();
                                }else{
                                    location.href = Routing.generate('atm_competition_anonymous_user_send_mail',{ 'contestantId':contestantId,'email':email });
                                }
                            }
                        });

                    }else{
                        $('#txEmail').css('border','1px solid #ff390d !important');
                    }
                });
            </script>
        {% endif %}
    {% endblock atm_competition_javascripts %}
</body>
</html>