{% extends 'ATMCompetitionBundle:Admin:base.html.twig' %}

{% block atm_competition_stylesheets %}
    <style>
        .manageVotes table{width:85%;margin-top: 30px;}
        .manageVotes table thead tr th, .manageVotes table tbody tr td{text-align:center;padding:5px;}
    </style>
{% endblock atm_competition_stylesheets %}

{% block atm_competition_content %}
    <h1 class="title">Anonymous Users</h1>
    <div class="manageVotes">
        <div class="filters">
            <div class="selectC">
                <select onchange="location.href=Routing.generate('atm_competition_anonymous_users_list',{ 'competitionId':$(this).val() })">
                    <option>Chose a competition</option>
                    {% for competition in competitions %}
                        <option value="{{ competition.id }}" {{ competitionId == competition.id ? 'selected'}}>{{ competition.name }}</option>
                    {% endfor %}
                </select>
            </div>
            {% if competitionId %}
                <a href="{{ path('atm_competition_export_anonymous_users',{ 'competitionId':competitionId }) }}" target="_blank" style="float: right;font-weight: bold;text-decoration: underline;">Export Anonymous users</a>
            {% endif %}
        </div>
        {% if competitionId is not null %}
            <div class="wide">
                <p style="width: 100%;margin: 20px 0;font-weight: bold;text-align: center;font-size: 20px;">Total users : {{ total }}</p>
                <table>
                    <thead>
                    <tr>
                        <th>Email</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for anonymousUser in anonymous_users %}
                        <tr>
                            <td>
                                {{ anonymousUser.email }}
                            </td>
                            <td>
                                {{ anonymousUser.creation_date | date('d-m-Y H:i:s') }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            {% if pagination %}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock atm_competition_content %}