{% extends 'ATMCompetitionBundle:Admin:base.html.twig' %}

{% block atm_competition_stylesheets %}
    <style>
        .manageVotes table{width:100%;margin-top: 30px;}
        .manageVotes table thead tr th, .manageVotes table tbody tr td{text-align:center}
    </style>
{% endblock atm_competition_stylesheets %}

{% block atm_competition_content %}
    <h1 class="title">Manage Votes</h1>
    <div class="manageVotes">
        <div class="filters">
            <div class="selectC">
                <select onchange="location.href=Routing.generate('atm_competition_manage_votes',{ 'competitionId':$(this).val() })">
                    <option>Chose a competition</option>
                    {% for competition in competitions %}
                        <option value="{{ competition.id }}" {{ competition_id == competition.id ? 'selected'}}>{{ competition.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% if competition_id is not null %}
            <div class="wide">
                {{ render(controller('ATMCompetitionBundle:Competition:searchVotes',{
                    'params':{
                        'competition_id': competition_id,
                        'page':page,
                        'pagination': true,
                        'max_results': 20,
                        'sorting_field': 'creation_date'
                    }
                })) }}
            </div>
        {% endif %}
    </div>
{% endblock atm_competition_content %}